.back-header{
    background: rgb(34,193,195);
    background: -moz-linear-gradient(0deg, rgba(34,193,195,0) 0%, rgba(0,0,0,0.6446953781512605) 17%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(34,193,195,0) 0%, rgba(0,0,0,0.6446953781512605) 17%, rgba(0,0,0,1) 100%);
    background: linear-gradient(0deg, rgba(34,193,195,0) 0%, rgba(0,0,0,0.6446953781512605) 17%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#000000",GradientType=1);
}
.contain-init{
    background-image: url('../assets/fondo1 dktp.png');
    background-size: cover;
    height: 27em;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
}
.head-anunciar{
    background-image: url('../assets/fondo2 dktp.png');
    background-size: cover;
    height: 25em;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;    
}
.cwithe{color: #ffffff;}
.cblack{color: #000000;}
.btn-send{background-color: #496dff; color: #ffffff; margin-top: 20px !important;}
.sect-porque{background-color: #005fff; height: 15em;}
.head-anunciar h3 {color: #ffffff; font-weight: 400;}
.list-pasos{font-size: 18px;}
.list-pasos li{margin-top: 1.25rem; font-weight: 600;}
.footer-p{background-color: #005fff;color: #ffffff;}
.contain-form{font-weight: 500;}
.style-card{background-color: #fff; border-radius: 10px; padding: 1.2rem;
    -webkit-box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);
    box-shadow: 0px 0px 14px -6px rgba(0,0,0,1);}
.image-card{ width: 100px; padding: 15px 0;}
.carousel-indicators li{background-color: #1c86ff;}
.mt-13{margin-top: 6em;}

@media(max-width: 990px){
    .mt-13{margin-top: 9em;}
}
@media(max-width: 767px){
    .mt-13{margin-top: 13em;}
}
@media(max-width: 545px){
    .mt-13{margin-top: 15em;}
}
@media(max-width: 450px){
    .sect-porque{height: 20em;}
}
@media(max-width: 440px){
    .mt-13{margin-top: 11em;}
}
@media(max-width: 375px){
    .mt-13{margin-top: 13em;}
}
@media(max-width: 320px){
    .mt-13{margin-top: 21em;}
}
