<div class="container-fluid fixed-top back-header p-4">
  <img src="../assets/logo blanco.png" style="height: 2.5em;" alt="" srcset="">
</div>
<div class="container-fluid cwithe contain-init d-flex align-items-end pb-5">
  <div class="row">
    <div class="col-10 offset-sm-1 pr-0">
      <h1>Publica tu inmueble con nosotros.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae feugiat libero, nec lacinia leo. Morbi et commodo quam, eget pellentesque orci.</p>
    </div>
  </div>
</div>
<div class="container-fluid contain-form">
  <div class="row justify-content-around pt-3 pb-3">
    <div class="col-12 col-md-5">
      <p>Ingrese sus datos y publicaremos su inmueble cuanto antes de manera gratuita</p> 
      <div>
        <label class="w-100" for="">Nombres</label>
        <input class="w-100 form-control mb-2" type="text" name="nombres" [(ngModel)]="datos.nombres">
      </div>
      <div>
        <label class="w-100" for="">Correo electronico</label>
        <input class="w-100 form-control mb-2" type="text" name="email" [(ngModel)]="datos.email">
      </div>
      <div>
        <label class="w-100" for="">Telefono</label>
        <input class="w-100 form-control mb-2" type="number" name="telefono" [(ngModel)]="datos.telefono">
      </div>
      <button type="submit" class="btn d-block m-auto btn-send pl-4 pr-4" (click)="submitForm()">Enviar</button>
    </div>
  </div>
</div>
<div class="container-fluid sect-porque mb-5">
  <div class="row pt-4 pb-4">
    <div class="col-12">
      <h3 class="cwithe">
        ¿Porque arrendar con aptuno?
      </h3>
    </div>
    <div class="col-12">
      <div class="container mt-4">
        <div class="row">
          <div class="col-12">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active pl-3 pr-3 pb-3">
                      <div class="container">
                        <div class="row">
                          <div class="col-12 style-card">
                            <div class="row">
                              <div class="col-12 col-md-6">
                                <img src="../assets/icon2_mediano.png" class="m-auto d-block image-card" alt="">
                              </div>
                              <div class="col-12 col-md-6">
                                <h3 class="cblack">Pago oportuno y garantizado</h3>
                                <p class="cblack">Garantizamos que reciba su arriendo, el dìa acordado, 
                                  independientemente del pago del arrendatario. Sin preocupaciones
                                y sin perseguir cobros.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item pl-3 pr-3 pb-3">
                      <div class="container">
                        <div class="row">
                          <div class="col-12 style-card">
                            <div class="row">
                              <div class="col-md-6 col-12">
                                <img src="../assets/icon1_mediano.png" class="m-auto d-block image-card" alt="">
                              </div>
                              <div class="col-md-6 col-12">
                                  <h3 class="cblack">Arriende más rápido</h3>
                                  <p class="cblack">Minimizar la vacancia y definimos el precio 
                                    óptimo a través de nuestros algoritmos de inteligencia artificial.
                                    Nuestro proceso on-line evita demora en trámites luego de aceptar una oferta.
                                  </p>
                              </div>
                            </div>
                            <!-- <img src="../assets/icon1_mediano.png" class="m-auto d-block image-card" alt="">
                            <h3 class="cblack">Arriende más rápido</h3>
                            <p class="cblack">Minimizar la vacancia y definimos el precio 
                              óptimo a través de nuestros algoritmos de inteligencia artificial.
                              Nuestro proceso on-line evita demora en trámites luego de aceptar una oferta.
                            </p> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ol class="carousel-indicators position-relative">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  </ol>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mb-5 mb-sm-0 mt-13">
  <div class="row">
    <div class="col-12 col-sm-6 head-anunciar d-flex align-items-end pb-4 pr-5">
      <h3>
        Comience a recibir visitas en pocos dias y arriende en tiempo record.
      </h3>
    </div>
    <div class="col-12 col-sm-6 align-self-center">
      <ul class="list-pasos">
        <li>Registrese y agende visita en minutos</li>
        <li>Empiece arecibir visitas en pocos dias</li>
        <li>Despreocupese y reciba su pago oportuno</li>
      </ul>
      <button type="submit" class="btn d-block m-auto btn-send pl-4 pr-4 d-sm-inline-flex ml-sm-5">Anunciar</button>
    </div>
  </div>
</div>
<div class="container-fluid footer-p p-3">
  <div class="row">
    <div class="col-12">
      <img src="../assets/logo blanco.png" style="height: 2.5em;" alt="">
      <button type="submit" class="btn btn-light font-weight-bolder float-right">Soy inquilino</button>
    </div>
    <div class="col-12">
      <hr style="border-bottom: 1px solid #ffffff; margin: 5px 0;">
    </div>
    <div class="col-12">
      <p style="margin: 0; font-size: 12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae feugiat libero, nec lacinia leo. Morbi et commodo quam, eget pellentesque orci.</p>
    </div>
  </div>
</div>